.your-location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.8rem;
  color: #00a4eb;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}
